[ResponseOps][Connectors] Support OAuth 2.0 authentication on the webhook connector.

The webhook connector currently supports basic and SSL client authentication. We need to extend it to support OAuth 2.0 authentication. Because Kibana needs to automatically refresh the tokens without user interaction, we should support the Client Credentials grant type suitable for Machine-to-machine (M2M) authentication. We should implement the OAuth 2.0 authentication as defined in the [OAuth 2.0 RFC 6749, section 4.4](https://tools.ietf.org/html/rfc6749#section-4.4). We assume that external services comply with the RFC. This means that the schema of the request and of the response should comply with the RFC.

Users should be able to configure:
- The access token URL. This is used to get the token.
- The client ID.
- The client secret.
- The scope.
- Client authentication method (stretch goal). This means that users can select if the client ID and secret will be used to produce a Basic authentication header or if the client ID and secret will be part of the request's body. We may omit this option for the MVP.

## DoD
- Users can configure the Webhook connector to use OAuth 2.0 authentication with the Client Credentials grant type.
- Tokens are being refreshed automatically.
- Tokens are stored and used if they are not expired.
- The intermediate release process is followed.
- Testing coverage.
- Update documentation.

PR: https://github.com/elastic/kibana/pull/218442

Pinging @elastic/response-ops (Team:ResponseOps)